@font-face {
    font-family: Hyogo;
    src: url(Hyogo-regular.otf);
}

body {
    font-family: Hyogo;
}

.top_header {
    display: flex;
    justify-content: center;
    margin: 24px;
    padding: 12px;
    width: 100%; max-width: 800px;
    background-color: whitesmoke;
}

.container,
.total_container,
.discount_container,
.tax_container {
    display: flex;
    justify-content: center;
    width: 100%; max-width: 850px;
    gap: 6px;
    margin: 12px;
}
